button{
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.primary,.secondary:hover{
    background-color: var(--tertiary-blue-500);
    color: var(--secondary-grey-500);
}
.secondary{
    background: transparent;
    border: 3px solid var(--tertiary-blue-500);
    color: var(--tertiary-blue-500);
}

.primary:hover{
    opacity: 0.8;
}

@media only screen and (max-width:628px) {
    button{
        font-size: 0.7rem;
        padding: 10px;
    }
}