span.input{
    display: flex;
}

.input *{
    text-align: center;
}

.input input[type='number']{
    width: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    border: 2px solid var(--tertiary-blue-500);
    color: var(--tertiary-blue-500);
    background-color: transparent;
}

.input button{
    margin: 0;
    width: 40px;
    border-radius: 0;
    padding: 5px;
    background-color: transparent;
    border: 2px solid var(--tertiary-blue-500);
    color: var(--tertiary-blue-500);
}

.input button:hover{
    background-color: var(--tertiary-blue-500);
    color: var(--secondary-grey-500);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  display: none; 
  margin: 0; 
}